#grandezzaFoto {
    width: 20%;
}

header {
    text-align: center;
    margin-bottom: 3rem;
}

header div {
    background-color: beige;
    padding: 12px;
}

hr {
    border-color: yellow;
    margin: 0;
}

main {
    width: 50%;
    margin: auto;
}

#sottoImmagine {
    color: #808080;
}

#correlatoAside {
    text-align: left;
    color: red;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

aside hr {
    border-color: #808080;
    padding: 0;
    text-align: center;
}

aside hr {
    border-color: #808080;
}

footer {
    text-align: center;
}